<html>

<head>
	<title>Show User</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>   
    <!-- CSS Link -->
    <link rel="stylesheet" href="{% static 'quotes/css/user.css' %}" charset="utf-8"  />
    <!-- jQuery Link -->
    <script src="{% static "quotes/js/user.js" %}"></script>

</head>

<body>
    <!-- ===============    NAVBAR    ===================== -->

    <div class="topnav" id="myTopnav">

        <a><h1>Welcome, {{ user.name }}!</h1></a>
        <a href="{% url 'dashboard' %}"><span class="glyphicon"></span> Dashboard </a>

        <a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout </a>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>

    </div>

    <div class="wrapper">

<!-- ======================================================================================================== -->
<!--                                         TOP DIV                                                          -->
<!-- ======================================================================================================== -->

        <div class="centerdiv">

            <!-- GET THE USER PASSED BY THE PARAMETER (VIEWS.PY => SHOW_USER METHOD) // THE KEY WORD IN THE CONTEXT DICTIONARY -->
            <h2>Posts by: {{ user.name }}</h3>

            <!-- GET THE COUNT PASSED BY THE PARAMETER (VIEWS.PY => SHOW_USER METHOD) // THE KEY WORD IN THE CONTEXT DICTIONARY -->	
            <h3>Quote Count: {{count}}</h3>

<!-- ======================================================================================================== -->
<!--                                         QUOTES   FOR LOOP                                                -->
<!-- ======================================================================================================== -->
            <!-- THE QUOTE PASSED THROUGH THE PARAMETER (VIEWS.PY => SHOW_USER METHOD) IS BEING USED HERE FOR THE LOOP THE KEY WORD IN THE CONTEXT DICTIONARY -->
            {% for quote in quotes %}
            <hr>
            <h5>{{quote.message}}</h5>
            <h4> — {{quote.quoted_by}}</h4>
            {% endfor %}


        </div>

    </div>

</body>

</html>