h1 {
	margin: 0px;
}
h5{
	color: red;
}
.wrapper{
	background-color: #62b1f7;

}
.container{
	margin-top: 35px;
	padding-top: 20px;
	text-align: center;
}
.topdiv{
	border: 10px solid rgba(33, 33, 228, 0.6);
	display: inline-block;
	width: 430px;
	height: auto;
	text-align: center;
	padding: 10px;
}
#quoteh3{
	border-bottom: 1px solid white;
	padding-bottom: 10px;
}
.favquotes{
	border: 10px solid rgba(33, 33, 228, 0.6);
	display: inline-block;
	width: 430px;
	height: auto;
	margin-left: 40px;
	vertical-align: top;
	text-align: center;
	padding: 10px;
}
.create{
	border: 10px solid rgba(33, 33, 228, 0.6);
	width: 900px;
	height: 400px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}
.myform{
	text-align: left;
	display: inline-block;
}
textarea {
  width: 260px;
  height: 200px;
  vertical-align: top;
}
.create * {
    margin: 5px;
}
.errors{
	display: inline-block;
	width: 300px;
  	height: 160px;
	vertical-align: top;
	color: red;
}
